/* Reset and utility class setup */

:root {
  --white: #faf2e7;
  --black: #000000;
  --gutter-width: 1vw;
  --container-max-width: 90rem;
  --column: 12;
  --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --nav-line: 0.5s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --column-width: calc(calc(100vw - (var(--gutter-width) * 11)) / var(--column));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100vw;
  min-height: 100svh;
  position: relative;
  font-family: "DM Sans", sans-serif;
}

li {
  list-style: none;
  display: inline-flex;
}

p,
span,
a,
button {
  text-decoration: none;
  color: var(--black);
  line-height: 0.9cap;
  font-size: clamp(0.75rem, 1rem + 0.25vw, 0.85rem);
  font-weight: 600;
  text-wrap: nowrap;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--black);
}

ul {
  line-height: 0.9cap;
}

.uc-col-12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gutter-width);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Grid layout overlay */

.overlay {
  opacity: 0;
  position: fixed;
  inset: 0 var(--gutter-width);
  background-image: repeating-linear-gradient(to right,
      hsla(0, 100%, 50%, 0.103),
      hsla(0, 100%, 50%, 0.103) calc((100% / var(--column)) - var(--gutter-width)),
      transparent calc((100% / var(--column)) - var(--gutter-width)),
      transparent calc(100% / var(--column)));
  background-position: left top;
  background-size: calc(100% + var(--gutter-width)) 100%;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
}

/* Page styling */
/* Nav */
.c-nav {
  width: 100%;
  padding-inline: var(--gutter-width);
}

.c-nav .c-nav_container {
  padding-block: var(--gutter-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.left-nav_container {
  display: flex;
  gap: 2rem;
}

.left-nav_container .left-nav_link,
.c-nav_container .nav-menu_btn {
  text-transform: uppercase;
  font-size: .8rem;
  position: relative;
  font-weight: 600;
}

.left-nav_container .left-nav_link::before,
.c-nav_container .nav-menu_btn::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 100%;
  background-color: var(--black);
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--nav-line);
}

.left-nav_container .left-nav_link:hover::before,
.c-nav_container .nav-menu_btn:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.c-nav_container .middle-nav_item {
  font-size: 1.15rem;
  font-style: italic;
}

/* Main */
/* Hero section */
.c-main {
  width: 100%;
  padding-inline: var(--gutter-width);
  min-height: 100%;
}

.c-main_container {
  margin: 3rem auto;
}

.c-hero_container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-bottom: 5rem;
}

.project-items_row .project-item {
  grid-column: span 1 / span 1;
  aspect-ratio: 1/1.25;
  background-color: grey;
  opacity: 0;
  overflow: hidden;
}

.project-item_image {
  transition: filter .75s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.c-hero_container:has(.project-item_image:hover) .project-item_image:not(:hover) {
  filter: contrast(0.5) brightness(0);
}

.project-items_row:nth-child(1) .project-item:nth-child(12),
.project-items_row:nth-child(1) .project-item:nth-child(2) {
  transform: translateY(740%);
}

.project-items_row:nth-child(1) .project-item:nth-child(4n+6) {
  transform: translateY(740%);
}

.project-items_row:nth-child(1) .project-item:nth-child(3n+5) {
  transform: translateY(540%);
}

.project-items_row:nth-child(1) .project-item:nth-child(8n+3) {
  transform: translateY(320%);
}

.project-items_row:nth-child(2) .project-item:nth-child(7n+3) {
  transform: translateY(215%);
}

.project-items_row:nth-child(2) .project-item:nth-child(3n+6) {
  transform: translateY(315%);
}


.project-items_row:nth-child(2) .project-item:nth-child(5n+5) {
  transform: translateY(-215%);
}

.project-items_row:nth-child(2) .project-item:nth-child(12n+2) {
  transform: translateY(-105%);
}

.project-items_row:nth-child(3) .project-item:nth-child(5n+1) {
  transform: translateY(-100%);
}

.project-items_row:nth-child(3) .project-item:nth-child(5n+3) {
  transform: translateY(150%);
}

.project-items_row:nth-child(3) .project-item:nth-child(4n+4) {
  transform: translateY(-320%);
}

/* Responsive design */
@media (max-width: 750px) {
  :root {
    --column: 6;
  }

  .project-items_row:nth-child(3) .project-item,
  .project-items_row:nth-child(2) .project-item,
  .project-items_row:nth-child(1) .project-item {
    transform: translateY(0) !important;
  }

  .uc-col-12 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .c-hero_container {
    gap: var(--gutter-width);
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  .c-nav .c-nav_container {
    align-items: start;
  }

  .left-nav_container {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Lenis Smooth Scroll */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}